/* **************
*  PUISSANCE 4  *
*   14/7/2021   *
*  by Ratonify  *
************** */

/* COMMUN */
html,body {
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
	font-family: 'Righteous', cursive;
}
body {
	background-color: #f3f1ef;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dfd6cd' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* HOME */
#settings {
	position: relative;
	background-color: rgb(41, 94, 172);
	padding: 15px 30px;
	outline: 2px solid #204f96;
	outline-offset: -8px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	animation: fadein-opacity 1s;
}
.logo {
	position: absolute;
	width: 150px;
	height: 102px;
	top: -55px;
	left: calc(50% - 75px);
	background-image: url('logor.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.choose-mode {
	margin: 60px -22px 20px -22px;
	padding: 20px 0;
	background-color: #4376c1;
	border-top: 2px solid #204f96;
	border-bottom: 2px solid #204f96;
}
.choose-player {
	background-color: white;
	font-weight: bold;
	margin: 0 5px;
	padding: 5px 10px;
	border: 2px solid black;
	color: black;
	box-shadow: black 3px 3px 0;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.choose-player:hover {
	box-shadow: black 0 0 0;
}
.relief {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

/* PUISSANCE 4 */
.width-total {
	width: 740px;
}
.top-board {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-color: #295eac;
	border-radius: 10px 10px 0 0;
	border-bottom: 3px solid #1f519b;
}
.game-specs {
	position: absolute;
	width: 150px;
	bottom: 0;
	right: 0;
	padding: 0 15px 30px 15px;
	color: white;
	background-color: #4376c1;
	border-left: 2px solid #12428a;
	border-radius: 0 15px 15px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.game-name {
	margin: 15px -7px -12px -7px;
	width: 130px;
	height: 88px;
	background-image: url('logor.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.token-outer {
	background-color: #d6e8f8;
	padding: 20px 0;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#players-turn-token {
	margin: auto;
	width: 76px;
	height: 75px;
	background-image: url('token.svg');
	background-size: cover;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(14, 39, 78, 0.3) 0px 4px 2px, inset rgba(0, 0, 0, 0.4) 0 7px 6px;
}
.text-highlight {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border-bottom: 2px solid #204f96;
	text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 0;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0;
	margin: 25px -15px 10px -15px;
	padding: 0 15px 2px 15px;
}
.text-highlight:first-child {
	margin: 0 -15px 10px -15px;
}
.versus {
	font-size: 10pt;
	color: rgba(133, 186, 213, 0.8);
}
#player-one-name, #player-two-name {
	background-color: #d6e8f8;
	color: rgb(14, 39, 78);
	text-align: center;
	padding: 3px 0 6px 0;
	text-shadow: rgba(255, 255, 255, 0.3) 0px 2px 0;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	overflow: hidden;
}
.score-board {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#player-one-name {
	border-radius: 5px 5px 5px 0;
}
#player-two-name {
	border-radius: 5px 0 5px 5px;
}
#player-one-score, #player-two-score {
	background-color: white;
	color: #12428a;
	padding: 3px 10px;
}
#player-one-score {
	margin-top: -5px;
	margin-bottom: 8px;
	padding: 3px 10px 6px 10px;
	border-radius: 0 0 5px 5px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#player-two-score {
	margin-top: 8px;
	border-radius: 5px 5px 0 0;
}
.restart-button {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80%;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.05em;
	background-color: crimson;
	color: white;
	border-radius: 5px;
	margin-top: -85px;
	cursor:pointer;
	z-index: 5;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	animation: heartbeat 1.5s ease-in-out infinite both;
	transition: background-color 0.15s;
}
.restart-button:hover {
	background-color: #c80028;
}

#connect4-game {
	position: relative;
	width: 890px;
	padding: 0 15px;
	animation: fadein-opacity 1s;
}
#connect-4 {
	display: flex;
	background-color: #295eac;
	outline: 2px solid #204f96;
	outline-offset: -8px;
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.column-style {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% / 7);
	border:2px solid transparent;
}
.column-style:hover {
	border:2px solid rgba(255, 255, 255, 0.3);
	border-radius: 50px;
	animation: flicker-animation-bg 1.5s infinite;
	cursor: pointer;
}
.column-style:hover.column-style:before {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	top: -60px;
	margin-left: 25px;
	font-size: 38pt;
	color: #bf7000;
	animation: translate-x 1.5s infinite;
	background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 490 490' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(6.12323e-17,-1,1,6.12323e-17,-2.84217e-14,490)'%3E%3Cpath d='M413.476,398.302L258.215,245L413.476,91.69L324.619,0L76.524,245L324.618,490L413.476,398.302ZM120.086,245L324.14,43.502L370.392,91.212L214.653,245L370.392,398.781L324.14,446.498L120.086,245Z' style='fill:rgb(191,112,0);fill-rule:nonzero;'/%3E%3C/g%3E%3C/svg%3E");
}
.cell-empty {
	background-color: #f3f1ef;
	border: 4px outset rgb(60, 115, 198);
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px, rgba(0, 0, 0, 0.35) 0px 1px 3px 1px, rgba(0, 0, 0, 0.25) 0px 50px 30px -28px inset, rgba(36, 93, 179, 0.4) 0px -5px 0 inset;
	border-radius: 50%;
	margin: 10px;
	width: 100%;
	height: 76px;
	animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.token-placed {
	background-image: url('token.svg');
	background-size: cover;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px, rgba(0, 0, 0, 0.35) 0px 1px 3px 1px, inset rgba(0, 0, 0, 0.4) 0 7px 6px;
}
.showWinner {
	background-image: url('token_v.svg');
	border: 4px outset rgb(227, 161, 35) !important;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px, rgba(0, 0, 0, 0.35) 0px 1px 3px 1px, rgba(227, 161, 35, 0.65) 0px 0px 8px 1px, inset rgba(0, 0, 0, 0.4) 0 7px 6px !important;
}
.animation-fadein {
	animation: fadein-opacity 0.7s;
}
.animation-fadein-out {
	animation: flicker-animation 1s;
}

.disabled {
	pointer-events:none;
}
.show {
	display: block !important;
}
.hide {
	display: none;
}

/* SPECTRUM */
.sp-replacer {
	height:inherit !important;
	width:65px !important;
}
.sp-dd {
	line-height:inherit;
}

/* KEYFRAMES */
@keyframes fadein-opacity {
	from { opacity:0 } 
	to { opacity:1 }
}
@keyframes flicker-animation {
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@keyframes translate-x {
	0%   { transform: translate(0, 0); }
	50%  { transform: translate(0, -10px); }
	100% { transform: translate(0, 0); }
}
@keyframes flicker-animation-bg {
	0%   { background-color: rgba(133, 165, 213, 0.3); border:2px solid rgba(255, 255, 255, 0.2); }
	50%  { background-color: rgba(133, 186, 213, 0.5); border:2px solid rgba(163, 231, 241, 0.4); }
	100% { background-color: rgba(133, 165, 213, 0.3); border:2px solid rgba(255, 255, 255, 0.2); }
}
@keyframes heartbeat {
	from {
		transform: scale(1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}
	10% {
		transform: scale(0.91);
		animation-timing-function: ease-in;
	}
	17% {
		transform: scale(0.98);
		animation-timing-function: ease-out;
	}
	45% {
		transform: scale(1);
		animation-timing-function: ease-out;
	}
}
@keyframes rotate-in-2-cw {
	0% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(0);
	}
}